<!DOCTYPE html>
<html>
<body>
    <p>Hello {{ admin.username }},</p>
    <p>A new user, {{ user.username }}, has registered on our website and requires activation.</p>
    <p>Please activate their account by clicking on the following link:</p>
    <p><a href="{{ activation_url }}" type="button" style="border: 2px solid black;background-color: white;color: black;padding: 5px;border-radius: 5px; font-weight: bold;">Activate</a></p>
    <p>Thank you.</p>
    <p>Sincerely, {{ current_site }}</p>
</body>
</html>
