<!DOCTYPE html>
<html>

<body>
    <h3>Raspberry App</h3>
    <div>
        <p>Hello <strong>{{ user.username }},</strong></p>
        <p> To start using Raspberry app, Please <strong>verify your email</strong> by clicking on the button below</p>
        <p><a href="{{ verification_url }}" type="button"
                style="border: 2px solid black;background-color: white;color: black;padding: 5px;border-radius: 5px; font-weight: bold;text-decoration: none;">Verify</a>
        </p>
        <p>Thank you.</p>
        <p>Sincerely, Raspberry Team</p>
    </div>
</body>

</html>